.titre_accueil {
    display: flex;
    justify-content: center;
    margin : 15px;
    font-family: 'Redwing', sans-serif;
    text-transform: uppercase;
    padding-bottom: 2em;
}

.container_info {
    padding: 4em;
}

.container_info > div {
    display: flex;
    align-items: center;
    flex-wrap: row;
}

.container_info > div > img {
    height: 400px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
}

.container_info > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_info > div > div > p {
    margin-bottom: 35px;
    padding-left: 25px;
}

.container_info > div > div > a {
    text-decoration: none;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    border-radius: 10px;
    color: inherit;
}