.container_info_g {
    padding: 5em;
}

.container_info {
    padding: 2em;
}

.container_info > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container_info > div > img {
    height: 365px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
}

.container_info > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_info > div > div > p {
    margin-bottom: 35px;
    padding-left: 4em;
    padding-right: 4em;
}

.container_info > div > div > a {
    text-decoration: none;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    border-radius: 10px;
    color: inherit;
}

.container_info > div > div > p {
    font-size: 18px;
}

.video_1 {
    display: flex;
    justify-content: center;
}

.container_info > div > iframe {
    width: 853px;
    height: 480px;
}

@media (max-width: 1180px) {
    .container_info > div{
        flex-direction: column;
    }

    .container_info > div > div {
        text-align: center;
    }

    .container_info > div > iframe {
        width: 100vw;
        height: 480px;
    }

    .container_info > div > div > p {
        padding: 0px;
    }

    .container_info_g {
        padding: 0px;
    }

    .logo_couleur {
        height: 100px;
        width: auto;
    }

    .carte {
        height: 1000px;
        width: auto;
    }
}