.container_info_g {
    padding: 5em;
}

.container_info {
    padding: 2em;
}

.bloc_carte {
    display: flex;
    justify-content: center;
}

.container_info > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container_info > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_info > div > div > p {
    margin-bottom: 35px;
    padding-left: 4em;
    padding-right: 4em;
}

.container_info > div > div > a {
    text-decoration: none;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    border-radius: 10px;
    color: inherit;
}

.container_info > div > div > p {
    font-size: 18px;
}

.container_info > div > div > div > p {
    font-size: 16px;
}

.texte_carte {
    display: flex;
    gap: 30px;
}

.video_1 {
    display: flex;
    justify-content: center;
}

.container_info > div > iframe {
    width: 853px;
    height: 480px;
}

.logo_couleur {
    height: 265px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
}

.carte {
    height: 350px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
}

.carte:hover {
    height: 550px;
    transition: .3s;
    text-align: center;
}

.carte:not(hover) {
    transition: .3s;
}

.materiel_hologramme {
    height: 500px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
}

.chemin_personne {
    height: 500px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
}

@media (max-width: 1180px) {
    .container_info {
        padding-top: 100px;
    }

    .container_info > div{
        flex-direction: column;
    }

    .container_info > div > div {
        text-align: center;
    }

    .container_info > div > iframe {
        width: 100vw;
        height: 480px;
    }

    .container_info > div > div > p {
        padding: 0px;
    }

    .container_info_g {
        padding: 0px;
 
    }

    .logo_couleur {
        height: 150px;
    }

    .texte_carte {
        display: flex;
        flex-direction: column;
    }

    .carte {
        height: 70vh;
    }

    .materiel_hologramme {
        height: 60vh;
    }

    .chemin_personne {
        height: 60vh;
    }

    .carte {
        height: 350px;
    }

}