.titre_accueil {
    display: flex;
    justify-content: center;
    margin : 15px;
    font-family: 'Redwing', sans-serif;
    text-transform: uppercase;
    padding-bottom: 2em;
}

.container_reserv {
    display: flex;
    flex-direction: column;
    padding: 4em;
    padding-left: 10em;
    padding-right: 10em;
}

.container_reserv > div {
    display: flex;
    align-items: start;
    flex-wrap: row;
}

.container_reserv > div > div {
    width: 50%;
}

.container_reserv > div > div > h2 {
    text-align: center;
}

.container_reserv > div > div > p {
    padding-left: 4em;
    padding-right: 4em;
    padding: 1.5em;
}

.container_reserv > div > div > a {
    text-decoration: none;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    border-radius: 10px;
    color: inherit;
}

.container_reserv > div > div > h2{
    font-size: 20px;
}

.resume {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
    padding: 1em;
    border-radius: 10px;
    align-items: center;
}