.choix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 170px 0px 170px 0px;
}
.choix > h1 {
    padding-bottom: 20px;
}
.choix > a {
    padding: 10px;
}
.choix > a > input {
    padding: 10px 10px;
    height: 45px;
    width: auto;
    font-weight: 15px;
    letter-spacing: 2px;
    color: #1e1e1e;
    border: 2px #1e1e1e solid;
    text-transform: uppercase;
    background: none;
    cursor: pointer;
}
.choix > a > input:hover {
    background-color: #1e1e1e;
    color: #f4f4f4;
    border-radius: 25px;
    transition: 0.75s;
}
.choix > a > input:not(:hover){
    transition: 0.75s;
}