@import url('http://fonts.cdnfonts.com/css/rockstar');

@font-face {
    font-family: rockstar ;
    src: url('http://fonts.cdnfonts.com/css/rockstar') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container_header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.container_header a, li {
    text-decoration: none;
    list-style: none;
    padding: 5px 30px;
    color: white;
}

.container_header > .resa:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

.container_header nav > ul > li > a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}



.logo {
    width: 80px;
    height: auto;
}

.logo:hover {
    border: solid 2px white;
    border-radius: 10px;
}


h3 {
    border-bottom: solid 2px white;
}

.container_footer {  
    background-color: black;
    padding-bottom: 30px;
}

.RS {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container_footer a, li {
 text-decoration: none;
 list-style: none;
 padding: 5px 30px;
}

.container_footer > .RS > a:hover {
    border: solid 2px white;
    border-radius: 10px;
}

.container_footer > nav > ul > li > ul > a > li:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

.container_footer p {
    padding: 15px 0px;
}

.container_p1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 4em;
    padding-right: 4em;
}

.titre_accueil {
    display: flex;
    justify-content: center;
    margin : 15px;
}

.container_p1 > div {
    display: flex;
    align-items: center;
    flex-wrap: row;
}

.container_p1 > div > img {
    height: 300px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
}

.container_p1 > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_p1 > div > div > p {
    margin-bottom: 35px;
}

.container_p1 > div > div > a {
    text-decoration: none;
    background-color: rgb(213, 213, 213);
    padding: 10px;
    border-radius: 10px;
    color: inherit;
    transition: .3s;
}

.container_p1 > div > div > a:hover {
    background-color: rgb(179, 179, 179);
}

