.container_artiste {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 0 0;
}

.description_artiste {
    margin: 5em;
}

.image_artiste {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
  }

  .video_artiste{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
    min-height: 500px;
  }

  @media (max-width: 921px) {
    .video_artiste {
        min-height: 300px;
    }
}
