@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

html{
  max-width: 100%;
  overflow-x: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*----------- HEADER ---------------*/
.container_header {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  height: 80px;
  opacity: 90%;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 0,4s;
}

.container_header a, li {
  text-decoration: none;
  list-style: none;
  padding: 8px;
  color: #f4f4f4;
  margin-right: 10px;
}

.container_header .navbar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_header .navbar > ul > li {
  display: flex;
  justify-content: stretch;
}

/* logo header */
.logo1 {
  width: 175px;
  height: auto;
  margin: 15px;
  padding-left: 60px;
  transition: 0.4s;
}

.logo1:hover {
  opacity: 75%;
  transition: 0.5s;
}

/* bouton reservation */
.resa {
  color: #f4f4f4;
  background-color: #003194;
  border-radius: 5px;
  display: block;
}

.resa:hover {
  color: rgb(0, 0, 0);
  background-color: #f4f4f4;
  transition: 0.75s;
}
.resa:not(:hover) {
  transition: 0.75s;
}
 /* boutons langue FR et EN */
.lgFR {
  padding-right: 70px;
}

.lgEN:hover, .lgFR:hover {
  color: #FDB7B9;
  transition: 0.5s;
}

.lgEN:not(:hover), .lgFR:not(:hover) {
  transition: 0.5s;
}

/* effet soulignement */
.container_header nav > ul > li > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background: #f4f4f4;
  transition: width 0.3s;
}

.container_header nav > ul > li > a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
/* fin soulignement */
  
/*burger menu*/
header input{
  display: none;
}

#hamburger-input{
  display: none;
}

#sidebar-menu {
  text-align: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: -250px;
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  padding: 0px 10px;
  box-sizing: border-box;
}

@media (min-width: 736px){
  #sidebar-menu{
    display: none;
  }

  #overlay{
    display: none;
  }
}

/*gestion du responsive*/
@media (max-width: 735px) {
  .logo1{
    width: 100px;
    height: auto;
    margin: 8px;
    padding-left: 10px;
    transition: 0.4s;
  }

  .container_header > a {
    font-size: smaller;
  }

  .container_header .navbar > ul > li, .container_header .navbar > ul, .lgEN, .lgFR, .resa{
    display: none;
  }

    /*CSS concernant le burger menu*/
    .header input{
      display: block;
    }

    label .menu {
      width: 45px;
      height: 50px;
      cursor: pointer; 
      display: inline-block;
      vertical-align: middle;
    }
    
    label #hamburger {
      position: absolute;
      top: 36px;
      width: 30px;
      height: 2px;
      background: #f4f4f4;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
    }

    label #hamburger:after, label #hamburger:before {
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: white;
    }

    .container_header a, .container_header li{
      color: black;
    }

    .resa{
      background-color: #69D2e7;
    }

    .resa:hover {
      color: rgb(0, 0, 0);
      background-color: #69D2e7;
    }

    label #hamburger:before { top: -10px; }

    label #hamburger:after { bottom: -10px; }

    label input { display: none; }


    label input:checked + .menu #hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      
    }

    label input:checked + .menu #hamburger:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      bottom: 0;
      
    }

    label input:checked + .menu #hamburger:before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0;
      
    }

    .menu {
      display: inline;
    }

    #sidebar-menu{
      visibility: hidden;
    }

    .container_header a,
    li {
      margin-right: 0;
    }

    .container_header li > .lgEN, .container_header li > .lgFR, .container_header li > .resa{
      display: block;
    } 

    .container_header nav > ul > li > a:hover::after {
      width: 0;
    }

    .lgEN:hover, .lgFR:hover {
      color: black;
      transition: 0s;
    }

    .lgEN:not(:hover), .lgFR:not(:hover) {
       transition: 0s;
     }

    .resa:hover {
      transition: 0s;
    }
    .resa:not(:hover) {
      transition: 0s;
    }      
}

/*------------ FOOTER --------------*/
.container_footer {
  background-color: black;
  padding-bottom: 30px;
}

/* logo footer */
.logo2 {
  width: 45px;
  height: auto;
}

.logo2:hover {
  opacity: 75%;
  transition: 0.5s;
}

/* titre des rubriques */
h3 {
  border-bottom: solid 2px #f4f4f4;
  margin-bottom: 20px;
}

/* RESEAUX */
.RS {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.RS > a > img {
  height: 40px;
  width: auto;
}

.container_footer > .RS > a {
  text-decoration: none;
  margin: 20px;
  padding: 20px;
}

.container_footer > .RS > a:hover {
  transform: scale(1.3);
  transition: 0.25s;
}

.container_footer > .RS > a:not(:hover) {
  transition: 0.25s;
}

/* effet soulignement */
.container_footer > .RS > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background: #f4f4f4;
  transition: width 0.3s;
}

.container_footer > .RS > a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
/* fin soulignement */

.container_footer > nav > ul > li > ul > a {
    text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar > ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.footer_nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer_nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
} 

/* effet soulignement */
 .container_footer > nav > ul > li > ul > a > li::after {
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background: #f4f4f4;
  transition: width 0.3s;
}

.container_footer > nav > ul > li > ul > a > li:hover::after {
  width: 100%;
  transition: width 0.3s;
}
/* fin soulignement */

.container_footer p {
  padding: 15px 0px;
}

@media (max-width: 921px) {
  .container_footer {
    display: flex;
  }
}

/*----------- CONTENU DES PAGES --------------*/
.titre_accueil {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-transform: uppercase;
  font-size: 55px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

/* phrase en gras sur page d'accueil */
h6 {
  font-size: x-large;
  margin-bottom: 3em;
}

/* texte page accueil */
.container_p1{
  background-image: url("../img/designTexteOpacity.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 4em;
  padding-right: 4em;
  justify-content: center;
}

.container_p1 > div {
  display: flex;
  align-items: center;
  flex-wrap: row;
}

.container_p1 > div > img {
  height: 350px;
  width: auto;
  margin: 20px;
  border-radius: 25px;
}

.container_p1 > div > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_p1 > div > div > p {
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 2em;
  font-size: 20px;
}

.container_p1 > div > div > a {
  text-decoration: none;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  color: inherit;
}

.container_p1 > div > div > a:hover {
  background-color: #d3d3d3;
  transition: 0.3s;
}

.container_p1 > div > div > a:not(hover) {
  transition: 0.3s;
}

/* affichage artistes page accueil */
.container_p2 > ul {
  background-image: url("../img/designTexte.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  background-color: #f4f4f4;
  padding: 45px;
}

.image-gallery > li {
  flex-basis: 300px;
}

.image-gallery li img {
  width: 100%;
  height: 100%;
}

.image-gallery > li > div {
  color: rgb(42, 42, 42);
  font-size: 17px;
  font-weight: bold;
}

.description_nb_artistes {
  text-align: center;
  padding: 1em;
}

/* carrousel */
.swiper {
  width: 100vw;
  height: 95vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* page erreur 404 */
.erreur404 {
  display: flex;
  flex-direction: column;
}

.erreur {
  padding-top: 7em;
  padding-bottom: 3em;
  text-align: center;
}

.erreur > p {
  padding-bottom: 2em;
}

.erreur > p > a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bold;
}

/* responsive */
@media (max-width: 921px) {
    .container_p1 {
      padding: 0px;
      text-align: center;
    }

    .RS {
      flex-direction: column;
      justify-content: start;
    }

    .footer_nav > ul {
      flex-direction: column;
    }

    .container_footer {
      text-align: center;
    }

    .container_p1 > div > div > p {
      padding: 1em;
    }

  }