@font-face {
    font-family: "Redwing";
    src: local("../font/Redwing-Medium.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*-----------HEADER---------------*/
.container_header {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    height: 100px;
}

.container_header a, li {
    text-decoration: none;
    list-style: none;
    padding: 8px ;
    color: #f4f4f4;
}

.container_header .navbar > ul {
    display: flex;
    justify-content: center;
}
.container_header .navbar > ul > li{
    display: flex;
    justify-content: stretch;
}


.container_header > .resa {
    color: #f4f4f4;
    background-color: #003194;
    margin-right: 50px;
}

.container_header > .resa:hover {
    color: rgb(0, 0, 0);
    background-color: #f4f4f4;
    border-radius: 50px;
    transition: 1s;
}
.container_header > .resa:not(:hover) {
    transition: 1s;
}

/* effet soulignement */
.container_header nav > ul > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 2.5px;
    background: #f4f4f4;
    transition: width .3s;
}

.container_header nav > ul > li > a:hover::after {
    width: 100%;
    transition: width .3s;
}
/* fin soulignement */



.logo1 {
    width: 170px;
    height: auto;
    margin: 15px;
}
.logo1:hover{
    opacity: 75%;
    transition: 0.5s;
}

/*------------FOOTER--------------*/
.logo2 {
    width: 45px;
    height: auto;
}
.logo2:hover{
    opacity: 75%;
    transition: 0.5s;
}

h3 {
    border-bottom: solid 2px #f4f4f4;
}

.container_footer {  
    background-color: #1e1e1e;
    padding-bottom: 30px;
}

.RS {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.container_footer a, li {
 text-decoration: none;
 list-style: none;
 padding: 5px 30px;
}

.container_footer > .RS > a:hover {
    border: solid 2px #f4f4f4;
    border-radius: 10px;
}

/* effet soulignement */
.container_footer > nav > ul > li > ul > a > li::after {
    content: '';
    display: block;
    width: 0;
    height: 2.5px;
    background: #f4f4f4;
    transition: width .3s;
}

.container_footer > nav > ul > li > ul > a > li:hover::after {
    width: 80%;
    transition: width .3s;
}
/* fin soulignement */

.container_footer p {
    padding: 15px 0px;
}

/*-----------CONTENU--------------*/
.container_p1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 4em;
    padding-right: 4em;
}

.titre_accueil {
    display: flex;
    justify-content: center;
    margin : 15px;
    font-family: 'Redwing', sans-serif;
    text-transform: uppercase;
}

.container_p1 > div {
    display: flex;
    align-items: center;
    flex-wrap: row;
}

.container_p1 > div > img {
    height: 300px;
    width: auto;
    margin: 20px;
    border-radius: 25px;
}

.container_p1 > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_p1 > div > div > p {
    margin-bottom: 35px;
    padding: 25px;
}

.container_p1 > div > div > a {
    text-decoration: none;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    color: inherit;
    transition: .3s;
}

.container_p1 > div > div > a:hover {
    background-color: #f4f4f4;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    background-color: #f4f4f4;
    padding: 45px;
  }
  
  .image-gallery > li {
    flex-basis: 300px;
  }
  
  .image-gallery li img {
    width: 100%;
    height: 100%;
  }

  .image-gallery > li > div {
    color: rgb(42, 42, 42);
    font-size: 17px;
    font-weight: bold;
  }


  .container_p1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 4em;
    padding-right: 4em;
}