.container_reserv {
  display: flex;
  flex-direction: column;
  padding: 7em 10em 2em 10em;
}

.container_reserv > div {
  display: flex;
  align-items: start;
  gap: 5em;
}

.container_reserv > div > div {
  width: 50%;
}

.container_reserv > div > div > p {
  padding-left: 4em;
  padding-right: 4em;
  padding: 1em;
  font-size: 20px;
}

.container_reserv > div > div > a {
  text-decoration: none;
  background-color: rgb(213, 213, 213);
  padding: 10px;
  border-radius: 10px;
  color: inherit;
}

.container_reserv > div > div > h2 {
  font-size: 25px;
}

.resume {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  padding: 1em;
  border-radius: 10px;
  align-items: center;
  text-transform: uppercase;
}

.container_reserv > div > div > form {
  text-align: center;
}

form {
  display: flex;
  padding: 20px;
  text-align: center;
  gap: 15px;
  flex-direction: column;
}

.formulaire {
  background-color: rgb(241, 241, 241);
  border-radius: 25px;
  padding: 20px;
  text-align: center;
}

.input_reserv {
  background-color: rgb(223, 223, 223);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.input_reserv:hover {
  transition: 0.3s;
  background-color: rgb(196, 196, 196);
}

.input_reserv:not(hover) {
  transition: 0.3s;
}

.input_reserv:focus {
  outline: none;
  padding: 13px;
  color: black;
}

.bouton_reserv {
  color: rgb(28, 28, 28);
  background-color: rgb(228, 228, 228);
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.bouton_reserv:hover {
  transition: 0.3s;
  background-color: rgb(196, 196, 196);
  cursor: pointer;
}

@media (max-width: 1150px) {
  .container_reserv > div {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .container_reserv > div > div {
    width: 90vw;
  }
}

@media (max-width: 1100px) {
  .container_reserv {
      padding: 0px;
  }
  .container_reserv > div > div {
    width: 95vw;
  }
}