* {
    margin: 0;
    padding: 0;
    color: white;
}

h3 {
    border-bottom: solid 2px white;
}

.container {  
    background-color: black;
    padding-bottom: 30px;
}

.RS {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container a, li {
 text-decoration: none;
 list-style: none;
 padding: 5px 30px;
}

.container > .RS > a:hover {
    border: solid 2px white;
    border-radius: 10px;
}

.container > nav > ul > li > ul > a > li:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

.logo {
    width: 80px;
    height: auto;
}

.logo:hover {
    border: solid 2px white;
    border-radius: 10px;
}

.container p {
    padding: 15px 0px;
}
