/* div globale */
.container_artiste {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 0 0;
}

/* différents éléments de la page artiste */
.description_artiste {
  margin: 5em;
}

.image_artiste {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
}

.video_artiste{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  min-height: 500px;
  margin-bottom: 5em;
}

/* responsive page artiste */
@media (max-width: 921px) {
  .description_artiste {
    margin: 2em;
  }

  .video_artiste {
    min-height: 300px;
    width: 90%;
    margin-bottom: 2em;
  }

  .image_artiste {
    width: 90%;
  }
}